Machine Learning, Atificial Neural Networks and Deep Learning Examination ~~ **Chibuzor John Amadi**

#  - Problem and Initial Intuition. Q1

We are tasked with a dataset of an amusement park with visitor's reviews, the dataset contains 6 unique columns and the objective is to study this columns and create a deep neural network model that predicts the rating value of the reviews. "Rating" noted is a column in the dataset.
The following text cells will illustrate how I will handle each individual column and build a suitable model to carry out the best possible prediction.

## Model Architecture
For model Architecture I will be using a Recurrent Neural Network, typically I will construct all my experiments of this model with an LSTM or its variants like the GRU  

## (QUESTION 1: INPUT)

- The "Review_Text"and the "Branch" columns will be processed and trained and used for predicting the rating

After studying the characteristics of the 6 columns of the dataset i have made the following conclusions:
1.  **Review ID**: I believe this is solely the Identification number of the    individual making the review, in relation to the problem at hand this column will be dropped.
2. **Rating**: ranging from 1 to 5, with 1 being **'unsatisfied'** and 5 being **'satisfied'** I will carry out a transformation that changes '1', '2', '3' to a "0" rating and '4', '5' to a "1" rating.
Although my decision to classify '3' as a bad rating seems strict, I personally feel that for the task at hand a rating of 3 not be classified as **'satisfied'**. I am using this transformation in order to carry out a binary classification.
3. **Year Month**: I will drop the column because it does not impact the the specific problem we have at hand and will not affect the prediction of the rating values. It would be helpfulhowever if we were looking for a time specific rating value prediction.
4. **Review Location**: I will drop this column of strings as well because unless we are looking for a specific location problem with the ratings. it general does not impact the raring value prediction.
5. **Review Text**: this is the main column we will use to predict the ratings values, it contains text of the each visitors reviews which is more or less unique. We can exploit Natural Language Processing techniques to transform this text reviews and then find similarities and make classification.
Each text review will be transformed into dense vectors and the we can do this with word embedding strategies like word2vec and GloVe.
6. **Branch**: I would apply a pre-processing technique called one-hot encoding to form, for example [0, 1, 2] to represent Branch 1, 2 and 3 respectively, i.e. the calfornia, hong-kong and paris branch.

The input is of word-level representation, each word is represented as a vector. where each word is represented by a word embedding vector, which is a **dense vector** representation of the word in a continuous vector space. The input sequence of words forms a matrix, where each row represents a word vector.

## DATA PRE-PREPROCESSING

I will begin by import the dataset from a github link, after which I will study the size and feature of the dataset to see exactly how to carry out my preprocessing method.

In [ ]:
import pandas as pd
# importing dataset from a kaggle competition ]
#https://www.kaggle.com/datasets/arushchillar/disneyland-reviews?resource=download

data = pd.read_csv('DisneylandReviews')

In [ ]:
data

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...,...
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

Due to my available computational resources i have decided to build my on about 10 percent of the total dataset  

I will be using just about 5% of the total dataset because of limitation of computation resources
using the train_test_split method

In [ ]:

# I will be using just about 5% of the total dataset because of limitation of computation resources
# using the train split method
from sklearn.model_selection import train_test_split, GridSearchCV


X = data[['Review_Text', 'Branch']]

y = data['Rating']

# Create a copy of X before modifying it
X_copy = X.copy()


# Reduce dataset size by 80%
X_trash, X_cut, y_trash, y_cut = train_test_split(X_copy, y, test_size=0.05, stratify=y, random_state=42)

# Rename reduced dataset
X, y = X_cut, y_cut

print(f"len(X): {len(X)}")
print(f"len(y): {len(y)}\n")

len(X): 2133
len(y): 2133

**as explained in the previous section i will now remove columns of the dataset that are not as relevant for the prediction of the rating**

In [ ]:
# 'unwanted_columns' is a list of all columns which I have decided to remove
#unwanted_columns = ['Review_ID', 'Year_Month', 'Reviewer_Location']
#reduced_data.drop(columns=unwanted_columns)
#final_data = reduced_data.drop(columns=unwanted_columns)
#final_data
X

,Review_Text,Branch
34752,Stayed between Christmas and new year. Absolu...,Disneyland_Paris
9831,if walt disney is currently in a cryogenic cha...,Disneyland_California
4477,Despite what the majority of the travellers he...,Disneyland_HongKong
9349,Great experience every time. I suggest that be...,Disneyland_HongKong
583,We took our 1 year old to visit Hong Kong Disn...,Disneyland_HongKong
...,...,...
3441,Always a great day out. Very well maintained ...,Disneyland_HongKong
13650,Had an amazing day here. We went in March and ...,Disneyland_California
14702,LOVE LOVE Disneyland! Must do when in the area...,Disneyland_California
30071,"We stayed in Torcy, 3 stations away is Disneyl...",Disneyland_Paris
28399,We took two days to visit Disneyland and Disne...,Disneyland_California

In [ ]:
branch = X['Branch']
branch

# Perform one-hot encoding
branch_encoded = pd.get_dummies(branch)
#print(f"branch_encoded.columns: {branch_encoded.columns}")
# drop first
branch = branch_encoded
branch

       Disneyland_California  Disneyland_HongKong  Disneyland_Paris
34752                      0                    0                 1
9831                       1                    0                 0
4477                       0                    1                 0
9349                       0                    1                 0
583                        0                    1                 0
...                      ...                  ...               ...
3441                       0                    1                 0
13650                      1                    0                 0
14702                      1                    0                 0
30071                      0                    0                 1
28399                      1                    0                 0

[2133 rows x 3 columns]

In [ ]:
branch_list = [list(ohe) for ohe in branch.values]

In [ ]:
import numpy as np

print(f"type(branch): {type(branch)}")
branch = np.array(branch_list)
print(f"branch.shape: {branch.shape}")

type(branch): <class 'pandas.core.frame.DataFrame'>
branch.shape: (2133, 3)

In [ ]:
X

,Review_Text,Branch
34752,Stayed between Christmas and new year. Absolu...,Disneyland_Paris
9831,if walt disney is currently in a cryogenic cha...,Disneyland_California
4477,Despite what the majority of the travellers he...,Disneyland_HongKong
9349,Great experience every time. I suggest that be...,Disneyland_HongKong
583,We took our 1 year old to visit Hong Kong Disn...,Disneyland_HongKong
...,...,...
3441,Always a great day out. Very well maintained ...,Disneyland_HongKong
13650,Had an amazing day here. We went in March and ...,Disneyland_California
14702,LOVE LOVE Disneyland! Must do when in the area...,Disneyland_California
30071,"We stayed in Torcy, 3 stations away is Disneyl...",Disneyland_Paris
28399,We took two days to visit Disneyland and Disne...,Disneyland_California

**as explained in the prevoius section I will now transform my "rating" column to a column of two values. After which I will study the balance between my new binary classes**

In [ ]:
y

34752    3
9831     3
4477     5
9349     5
583      5
        ..
3441     5
13650    4
14702    5
30071    5
28399    5
Name: Rating, Length: 2133, dtype: int64

In [ ]:
def transform_values(column):
    transformed_column = column.copy()
    transformed_column.replace([1, 2, 3], 0, inplace=True)
    transformed_column.replace([4, 5], 1, inplace=True)
    return transformed_column


y = transform_values(y)
y

34752    0
9831     0
4477     1
9349     1
583      1
        ..
3441     1
13650    1
14702    1
30071    1
28399    1
Name: Rating, Length: 2133, dtype: int64

In [ ]:
#ratings
counts = y.value_counts()

# Display the counts
print(counts)

1    1696
0     437
Name: Rating, dtype: int64

**For each text review I am going to perform Natural Language Processing methods, such as making each word a lower case, lemmatization and tokenization and then I apply a word embedding to the text in order to feed as input to the model.**

In [ ]:
# using the nltk library
# and download the neccesary nltk packages needed

import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('omw-1.4')
nltk.download('punkt')  # Download required resources
nltk.download('wordnet')
nltk.download('stopwords')

# Get the list of stopwords
stop_words = set(stopwords.words('english'))

# Convert each word to lowercase, remove stopwords, and tokenize
X['Reviewed_Text'] = X['Review_Text'].apply(lambda x: [word.lower() for word in word_tokenize(x) if word.lower() not in stop_words])

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
np_reviews = np.array(X['Reviewed_Text'])

In [ ]:
type(np_reviews)

numpy.ndarray

In [ ]:
import nltk
import numpy as np
import requests
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# I am using GloVe for word embedding
# so we import the file for GloVe Embedding
# Note: The GloVe file should match the number of dimensions set
# I imported the glove file which i saved on my onedrive and used the link and code to import it
glove_url = 'https://1drv.ms/t/s!Ar8rswPGMOZFwlgZ2twjKZdStNOH?e=bZ5lLS'
embedding_dim = 200

# Download GloVe file
response = requests.get(glove_url)
glovee = response.text

# introduce GloVe into the memory
embeddings_index = {}

for line in glovee.split('\n'):
    values = line.split()
    if len(values) > 1:
        word = values[0]
        #coefs = np.asarray(values[1:], dtype='float32')
        #embeddings_index[word] = coefs
        try:
            coefs = np.asarray(values[1:], dtype='float32')
            embeddings_index[word] = coefs
        except ValueError:
            # Skip lines that cannot be converted to float
            pass

# Create the embedding matrix
max_features = 500  # Maximum number of words to keep in the vocabulary
tokenizer = Tokenizer(num_words=max_features, split=' ')
tokenizer.fit_on_texts((np_reviews))
word_index = tokenizer.word_index


##sequence
text_sequences = tokenizer.texts_to_sequences(np_reviews)
#test_sequences = tokenizer.texts_to_sequences(np_reviews)

# Pad sequences to a fixed length
max_seq_length = 100  # Set the desired maximum sequence length
text_data = pad_sequences(text_sequences, maxlen=max_seq_length)
#test_data = pad_sequences(test_sequences, maxlen=max_seq_length)


num_words = min(max_features, len(word_index) + 1)
embedding_matrix = np.zeros((num_words, embedding_dim))
for word, i in word_index.items():
  if i >= max_features:
        continue
  embedding_vector = embeddings_index.get(word)
  if embedding_vector is not None:
      embedding_matrix[i] = embedding_vector

In [ ]:
text_data

array([[  0,   0,   0, ..., 120, 308,  52],
       [  0,   0,   0, ..., 367, 320,   1],
       [  0,   0,   0, ...,   3, 304,   1],
       ...,
       [  0,   0,   0, ...,  26, 131,   1],
       [  0,   0,   0, ...,  94,   4,   1],
       [  0,   0,   0, ..., 184,   8,   1]], dtype=int32)

In [ ]:
branch

In [ ]:
print(f"type(text_data): {type(text_data)}")
reviews = text_data
print(f"reviews.shape: {reviews.shape}")

In [ ]:
combined_array = np.concatenate((reviews, branch), axis=1)
# Print the shape of the combined array
print(combined_array.shape)

In [ ]:
tdata = list(combined_array)
tdata = np.array(tdata)

tdata.shape, y.shape

Next we carry out the train and test split of the dataset.

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, train_ratings, test_ratings = train_test_split(tdata, ratings, test_size=0.2, random_state=42)

# Q2. How would you design the output layer;

Considering the fact that I am working with binary classfication:

The output layer of a binary classification model for text classification is a single unit because it represents likelihood of the input belonging to one of the two classes, i.e. 0 OR 1.

The sigmoid function will be applied to the output layer because it gives values between 0 and 1.

# QUESTION 3 AND 4
**3. Which activation functions and which Loss function would you use;**

**4. Which (possible) regularizers, initializers, normalizers, etc., and why;**

**The activation functions **for the hidden layers will be between the *sigmoid activation function, the Hyperbolic Tangent (tanh) and the RelU activation function*, I will run the model will each one to see which one performs best, they will also be hyperparameter tuned.
**The loss Function**, considering that it is a binary classfication model, will be the** binary cross-entropy**. I will also research and experiment with others such as the hinge and square_hinge

**Regularizers:** Regularization techniques such as **L1 or L2** regularization can be applied to prevent overfitting by adding a penalty term to the loss. ***(an addition to my exam paper, I stated I will use just dropout but dropout is a weight regularization technique and not an actual regularizer)***

In [ ]:
from tensorflow.keras.layers import Input, Embedding, GRU, Flatten, Dense, BatchNormalization, Dropout, Concatenate, Lambda
from tensorflow.keras.models import Model

def create_model(gru_hid_1,gru_hid_2,
                 input_shape=None,
                 output_shape=None,
                 input_length=None,
                 embedding_matrix=None,
                 learning_rate=10**-1,
                 loss='binary_crossentropy',
                 rnn_act='tanh',
                 hid_act='relu',
                 out_act='sigmoid',
                 dropout_rate=0.1,
                 kernel_regularizer='l1',
                 optimizer='adam'):

    input_layer = Input(shape=input_shape)

    reviews = Lambda(lambda x: x[:, :101])(input_layer)
    part_2 = Lambda(lambda x: x[:, 101:])(input_layer)

    # Model instantiation

    embedding = Embedding(input_dim=embedding_matrix.shape[0],  # Replace with the correct value
                          output_dim=embedding_matrix.shape[1],  # Replace with the correct value
                          weights=[embedding_matrix],
                          input_length=input_length,
                          trainable=False)(reviews)

    rnn1 = GRU(
        units=gru_hid_1,
        activation=rnn_act,
        kernel_regularizer=kernel_regularizer,
        dropout=dropout_rate,
        return_sequences=True
    )(embedding)

    rnn2 = GRU(
        units=gru_hid_2,
        activation=rnn_act,
        kernel_regularizer=kernel_regularizer,
        dropout=dropout_rate,
        return_sequences=True
    )(rnn1)


    flatten = Flatten()(rnn2)

    concat = Concatenate()([flatten, part_2])  # Concatenate flatten and part_2 inputs


    hidden_layer = Dense(
        units=gru_hid_2,
        activation=hid_act,
        kernel_regularizer=kernel_regularizer
    )(concat)

    hidden_layer2 = Dense(
        units=gru_hid_2,
        activation=hid_act,
        kernel_regularizer=kernel_regularizer
    )(hidden_layer)


    output_layer = Dense(
        units=output_shape,
        activation=out_act
    )(hidden_layer2)

    # Model instantiation
    model = Model(inputs=input_layer, outputs=output_layer)

    # Model compile
    model.compile(
        loss=loss,
        optimizer=optimizer,
        metrics=['accuracy']
    )

    return model

In [ ]:
model = create_model(gru_hid_1=64, gru_hid_2=64,
                 input_shape=(103,),
                 output_shape=1,
                 input_length=100,
                 embedding_matrix=embedding_matrix
)
model.fit(X_train, train_ratings, epochs=5)

In [ ]:
embedding_matrix.shape

In [ ]:
# installing scikeras is neccesary for using an effective KerasClassifier
! pip install scikeras
import tensorflow as tf
from scikeras.wrappers import KerasClassifier
from tensorflow.keras import regularizers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Dropout, Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.optimizers import legacy

embedding = Embedding(input_dim=embedding_matrix.shape[0],  # Replace with the correct value
                          output_dim=embedding_matrix.shape[1],  # Replace with the correct value
                          weights=[embedding_matrix],
                          input_length=input_length,
                          trainable=False)(reviews)

embedding_dim = 200  # Dimensionality of the word embeddings
dropout_rate = 0.2  # Dropout rate to prevent overfitting
regularizer = 'l2' # weight regularizer
learning_rate = 0.001 # the learning rate

optimizer = legacy.Adam(learning_rate=learning_rate) # Set the learning rate for the optimizer # also with the adam optimizer.

def create_model(hid1, hid2,
                 learning_rate= 10**-1,
                 loss='BinaryCrossentropy',
                 hid_act='tanh',
                 hid_act2='relu',
                 hid_act3='sigmoid',
                 out_act='sigmoid',
                 dropout_rate=0.2,
                 weight_reg=None):
  # learning_rate: the learning rate to be used by the optimizer
  # hid1: number of neurons in the first hidden layer
  # hid2: number of neurons in the second hidden layer
  # loss: loss function
  # hid_act,2,3: activation functions to be considered and experimented for the hidden layers
  # out_act: activation function for output layer
  # dropout_rate: the rate of dropout to be used

  model = Sequential()
  #model.add(Embedding(len(tokenizer.word_index) + 1, embedding_dim, input_length=max_seq_length))
  model.add(Embedding(input_dim=embedding_matrix.shape[0],  # Replace with the correct value
                          output_dim=embedding_matrix.shape[1],  # Replace with the correct value
                          weights=[embedding_matrix],
                          input_length=input_length,
                          trainable=False))
  model.add(GRU(hid1, activation=hid_act, return_sequences=True, kernel_regularizer=regularizer))
  model.add(Dropout(dropout_rate))
  model.add(GRU(hid2, activation=hid_act3 , kernel_regularizer=regularizer))
  model.add(Dropout(dropout_rate))
  model.add(Dense(1, activation=out_act))  ## output layer
  model.compile(loss=loss,
        optimizer=optimizer,
        metrics=['accuracy'])

  return model

model = KerasClassifier(build_fn=create_model,
                        hid1 = 16,
                        hid2=8,
                        epochs=5)


model.fit(X_train, train_ratings, batch_size=32)
# test run

# QUESTION 5

**On which hyperparameters would you perform the model selection (if any), or why you would not perform it.**

1. The NUMBER OF HIDDEN LAYERS
2. THE DROPOUT RATE
3. THE LEARNING RATE
4. THE BATCH SIZE TO BE USED
5. THE WEIGHT REGULARIZER TO BE USED
6. THE LOSS FUNCTION
7. THE ACTIVATION FUNCTION TO BE USED IN THE HIDDEN LAYERS

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV
from scikeras.wrappers import KerasClassifier

model = KerasClassifier(model=create_model,
                        hid1 = 8,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)

# THE CHOICE FOR POSSIBLE HIDDEN LAYER COMBINATIONS
hid1 = [32, 16]
hid2 = [16, 8]
param_grid = dict(model__hid1= hid1, model__hid2= hid2)

## define the grid search parameters for the number of hidden layers

GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=16)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV

model = KerasClassifier(model=create_model,
                        hid1 = 16,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)


dropout = [0.1, 0.2, 0.3]
param_grid = dict(model__dropout_rate= dropout)

## define the grid search parameters for the dropout rate
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=32)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV

model = KerasClassifier(model=create_model,
                        hid1 = 16,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)


lr = [10**-4, 10**-3, 10**-2, 10**-1]
param_grid = dict(model__learning_rate= lr)

## define the grid search parameters for the learning rate to be used
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=32)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV

model = KerasClassifier(model=create_model,
                        hid1 = 16,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)


batch_size = [16, 32, 64]
param_grid = dict(batch_size=batch_size)

## define the grid search parameters for the batch size to be used
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=32)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV

model = KerasClassifier(model=create_model,
                        hid1 = 16,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)


weight_reg = [None, 'l1', 'l2']
param_grid = dict(model__weight_reg= weight_reg)

## define the grid search parameters for the weight regularizer to be used
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=32)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import StratifiedKFold, GridSearchCV
from scikeras.wrappers import KerasClassifier

model = KerasClassifier(model=create_model,
                        hid1 = 8,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)


hid_act = ['relu', 'tanh', 'sigmoid']
param_grid = dict(model__hid_act= hid_act)

## define the grid search parameters for the possible activation function for the hidden layer
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=16)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from sklearn.model_selection import train_test_split,  StratifiedKFold, GridSearchCV
from scikeras.wrappers import KerasClassifier

model = KerasClassifier(model=create_model,
                        hid1 = 8,
                        hid2 = 8,
                        learning_rate = 0.001,
                        hid_act= 'sigmoid',
                        dropout_rate=0.2,
                        epochs = 10)

loss = ['binary_crossentropy', 'hinge', 'squared_hinge']
param_grid = dict(model__loss= loss)

## define the grid search parameters for the loss function to be used
GS = GridSearchCV(estimator=model, param_grid=param_grid,
                  n_jobs=-1, cv=3)

grid_result = GS.fit(train_data, train_ratings, batch_size=16)
# best result
print("Best: %f using %s" % (grid_result.best_score_,
                             grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
params = grid_result.cv_results_['params']
# printing results for all combinations
for mean, param in zip(means, params):
    print(f"{mean} \t with: {param}")

In [ ]:
from tensorflow.keras import regularizers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Embedding


## define the final model with the results from the tuning of hyperparameters ###

def final_gru(embedding_dim,
              dropout_rate,
              regularization,
             learning_rate):

  model = Sequential()
  model.add(Embedding(len(tokenizer.word_index) + 1, embedding_dim, input_length=max_seq_length))

  model.add(GRU(32, activation='relu', return_sequences=True, kernel_regularizer=None))
  model.add(Dropout(dropout_rate))

  model.add(GRU(16, activation='sigmoid', kernel_regularizer=None))
  model.add(Dropout(dropout_rate))

  model.add(Dense(1, activation='sigmoid'))

  optimizer = legacy.Adam(learning_rate=learning_rate)

  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

  return model

embedding_dim = 200  # Dimensionality of the word embeddings
dropout_rate = 0.1  # Dropout rate to prevent overfitting
regularization = None  # as seen after hyperparameter tuning
learning_rate = 0.001


model = final_gru(embedding_dim, dropout_rate, regularization, learning_rate)

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(train_data, train_ratings, batch_size=16, epochs=10, validation_data=(test_data, test_ratings))

# QUESTION 6

6. How would you evalaute the generalization capabilties of the model on
unseen data?

 To evaluate the generalization capabilities of the GRU model on unseen data, a common practice is to split the available data into training, validation, and test sets. The model is trained on the training set, and the performance is evaluated on the validation set during the training process. Once the model is trained, its final performance is assessed on the test set, which represents unseen data. Metrics such as accuracy could be used to evaluate the model.

 i.e. validation_data=(test_data, test_ratings)

In [ ]:
# Evaluate the model
loss, accuracy = model.evaluate(test_data, test_ratings) # i.e. the validation set
print('Test Loss:', loss)
print('Test Accuracy:', accuracy)